name: AutoPost

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch: 

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: |
          pip install requests # Hanya butuh ini!

      - name: Run bot
        env:
          GEMINI_API_KEY: ${{ secrets.GEMINI_API_KEY }}
        run: python bot_engine.py

      - name: Commit changes
        run: |
          git config --local user.email "bot@github.com"
          git config --local user.name "AutoBot"
          git add .
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update New Post" && git push)
